@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: red;
    text-decoration: none;

}
a:visited {
    color: rgb(255, 128, 149);
}
a:hover {
    color: darkred;
    text-decoration: underline;
}

a:active {
    color: black;
}
.importante::after {
    content: ' ←';
    text-decoration: none;
    font-weight: normal;
    color: darkgray;
}
.importante::before {
    content:' →';
    text-decoration: none;
    font-weight: normal;
    color: darkgray;
}
.normal::after {
    content: ' [LINK]';
    text-decoration: none;
    font-weight: normal;
    color: darkgrey;
    font-size: 0.8em;
}