@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}
.d1 {
    background-color: gainsboro;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    
}


 .d2 > .son {
    display: none;
 }

 .d2:hover > .son {
    display: block;
    color: aqua;
    background-color: #3a3a3a;
    width: 172px;
 }

.d1:hover {
    background-color: aqua;
}

.d2:hover {
    color: brown;
   
}