@charset "UTF-8";

* {
font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #5EC8F2 ;
}

main {
    background-color: whitesmoke;
    box-shadow: 10px 10px 10px rgb(207, 205, 205);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #6241D9;
    text-align: center;
    text-shadow: 2px 2px 1px #9D85F2;
}

h2 {
    color: #9D85F2;
}

p {
    color: black;
    text-align: justify;
}