@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

/*
em HTML é id em CSS é #
em HTML é class em css é . 
*/


body {
    background-color: #9D85F2 ;
    font-family: Arial, Helvetica, sans-serif
}

#Principal {
    text-align: center;
    background-color: #9D85F2;

}

.anton-sc-regular {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

h1{
    background-color: #6241D9;
    color: azure;
}

h2 {
    color: #2E0259;
}

.basic {
    color: #5EC8F2;
}
